.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col {
    flex: 1;
    max-width: 50%;
}

@media (max-width: 768px) {
    .col {
        max-width: 100%;
    }
}