/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #009cdd;
  --ifm-color-primary-dark: #008cc7;
  --ifm-color-primary-darker: #0085bc;
  --ifm-color-primary-darkest: #006d9b;
  --ifm-color-primary-light: #00acf3;
  --ifm-color-primary-lighter: #00b3fe;
  --ifm-color-primary-lightest: #20beff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00bff2;
  --ifm-color-primary-dark: #00acda;
  --ifm-color-primary-darker: #00a2ce;
  --ifm-color-primary-darkest: #0086a9;
  --ifm-color-primary-light: #0bccff;
  --ifm-color-primary-lighter: #17ceff;
  --ifm-color-primary-lightest: #3cd6ff;
}
